{% extends '::plantilla1.html.twig' %} 

{% block title%}ComicVisor - Error{% endblock %}

 {% block cabecera %}{% endblock %}

 {% block body %}
 
  <div class="jumbotron alert-danger">
  <h1 class="display-4">Subida Incorrecta</h1>
  <p class="lead">La subida de cómic, capítulo o versión no ha sido realizada correctamente</p>
  <p class="lead">Revisa las instrucciones y corrige los datos correctamente</p>
  <hr class="m-y-2">
  <p class="lead">
     <a href="{{ asset ('/')}}" class="btn btn-lg btn-danger" >Volver al inicio</a>
  </p>
</div>
 {% endblock %}
