.cabecera, .pie {
    background-color: limegreen;
    border-color: limegreen;
	color: black;
}

.navbar-inverse .navbar-brand {
    color: black;
}
.navbar-inverse .navbar-nav>li>a {
    color: black;
}

*{
	font-family: 'Open Sans', sans-serif;
}
.logo{
	font-family: 'Caveat Brush', cursive;
	font-size: 1.8em;
}